.c-search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border-bottom: 2px solid rgba(255,255,255, .2);
  margin-bottom: 15px;
}
.c-search .c-search__title {
  margin: 0 20px 0 0;
}
.c-search .c-search__input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: none;
}